<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<md-dialog aria-label="Détails de la transaction">
    <form name="detailsBillForm" ng-submit="submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Détails de la transaction</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fermer"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <h3>Emetteur : {{ bill.owner}} </h3>
                <h3>Groupe concerné : {{ bill.group}} </h3>
                <h4>Mis à jour le {{ bill.updated}} </h4>

				<md-input-container class="md-block">
                    <label>Nom de la transaction :</label>
                    <md-icon class="pen-icon" md-svg-src="img/pencil.svg" style="color: #2980b9;"></md-icon>
                    <input type="text" name="name" ng-disabled="!ctrl.disabledName" ng-model="bill.name" md-maxlength="250" required>
                    
                    <div ng-messages="detailsBillForm.name.$error">
                    	<div ng-message="maxlength">Nom de la transaction trop long (max 250 caractères)</div>
                        <div ng-message="required">Nom de la transaction manquant</div>
                    </div>

                    <md-button ng-click="ctrl.disabledName = true" ng-show="!ctrl.disabledName" style="background-color: white; font-size: small;">
                        <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                        <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                    </md-button>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Description de la transaction :</label>
                    <md-icon md-svg-src="img/receive.svg" style="color: #2980b9;"></md-icon>
                    <input type="text" name="name" ng-disabled="!ctrl.disabledDescription" ng-model="bill.description" md-maxlength="250" required>
                    
                    <div ng-messages="detailsBillForm.description.$error">
                    	<div ng-message="maxlength">Description de la transaction trop longue (max 250 caractères)</div>
                        <div ng-message="required">Description de la transaction manquante</div>
                    </div>

                    <md-button ng-click="ctrl.disabledDescription = true" ng-show="!ctrl.disabledDescription" style="background-color: white; font-size: small;">
                        <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                        <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                    </md-button>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Prix de la transaction :</label>
                    <md-icon md-svg-src="img/price.svg" style="color: #2980b9;"></md-icon>
                    <input type="text" name="value" ng-disabled="!ctrl.disabledValue" ng-model="bill.value" md-maxlength="20" required>
                    
                    <div ng-messages="detailsBillForm.value.$error">
                    	<div ng-message="maxlength">Prix de la transaction trop élevé (max 20 chiffres)</div>
                        <div ng-message="required">Prix de la transaction manquant</div>
                    </div>

                    <md-button ng-click="ctrl.disabledValue = true" ng-show="!ctrl.disabledValue" style="background-color: white; font-size: small;">
                        <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                        <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                    </md-button>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="delete()" target="_blank">
                Supprimer
            </md-button>

            <span flex></span>

            <md-button ng-click="cancel()">
                Annuler
            </md-button>
            <md-button ng-click="save()" style="margin-right:20px;" md-autofocus>
                Sauvegarder
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>