<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id="main-panel">
    <div shortcuts id="shortcuts-panel"></div>
    
    <div id="contents-panel">
        <div layout="row" layout-align="center center">
            <h2 style="color: #2980b9;">Vos activités récentes</h2>
        </div>

        <md-list style="width: 100%;">
            <md-list-item style="background-color: white;">
                <h4> {{ activite.texte }} </h4>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</div>