<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div>
    <h1 class="title-form">Informations sur votre compte</h1>

    <form name="accountForm" ng-submit="submit()" >
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Prénom :</label>
                <md-icon class="pen-icon" md-svg-src="img/pencil.svg" style="color: #2980b9;"></md-icon>
                <input type="text" name="firstName" ng-disabled="!ctrl.disabledFirstname" ng-model="user.firstName" md-maxlength="250" required>

                <div ng-messages="accountForm.firstname.$error">
                    <div ng-message="maxlength">Prénom trop long (max 250 caractères)</div>
                    <div ng-message="required">Prénom manquant</div>
                </div>

                <md-button ng-click="ctrl.disabledFirstname = true" ng-show="!ctrl.disabledFirstname" style="background-color: white; font-size: small;">
                    <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                    <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                </md-button>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nom :</label>
                <md-icon class="pen-icon" md-svg-src="img/pencil.svg" style="color: #2980b9;"></md-icon>
                <input type="text" name="lastName" ng-disabled="!ctrl.disabledLastname" ng-model="user.lastName" md-maxlength="250" required>

                <div ng-messages="accountForm.lastname.$error">
                    <div ng-message="maxlength">Nom trop long (max 250 caractères)</div>
                    <div ng-message="required">Nom manquant</div>
                </div>

                <md-button ng-click="ctrl.disabledLastname = true" ng-show="!ctrl.disabledLastname" style="background-color: white; font-size: small;">
                    <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                    <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                </md-button>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Adresse mail :</label>
                <md-icon md-svg-src="img/mail.svg" style="color: #2980b9;"></md-icon>
                <input type="email" name="email" ng-disabled="!ctrl.disabledEmail" ng-model="user.email" md-maxlength="250" required>

                <div ng-messages="accountForm.email.$error">
                    <div ng-message="maxlength">Adresse trop longue (max 250 caractères)</div>
                    <div ng-message="required">Adresse email manquante</div>
                </div>

                <md-button ng-click="ctrl.disabledEmail = true" ng-show="!ctrl.disabledEmail" style="background-color: white; font-size: small;">
                    <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                    <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                </md-button>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Numéro de téléphone (facultatif):</label>
                <md-icon md-svg-src="img/smartphone.svg" style="color: #2980b9;"></md-icon>
                <input type="text" name="phone" ng-disabled="!ctrl.disabledNumber" ng-model="user.phone" md-maxlength="10" required>

                <div ng-messages="accountForm.number.$error">
                    <div ng-message="md-maxlength">Les 10 chiffres doivent se suivre : XXXXXXXXXX</div>
                </div>

                <md-button ng-click="ctrl.disabledNumber = true" ng-show="!ctrl.disabledNumber" style="background-color: white; font-size: small;">
                    <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                    <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                </md-button>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Votre mot de passe actuel:</label>
                <md-icon md-svg-src="img/lock.svg" style="color: #2980b9;"></md-icon>
                <input type="password" name="password" ng-disabled="!ctrl.disabledPassword" ng-model="user.password" md-maxlength="250" required>

                <div ng-messages="accountForm.password.$error">
                    <div ng-message="maxlength">Mot de passe trop long (max 250 caractères)</div>
                    <div ng-message="required">Mot de passe manquant</div>
                </div>

                <md-button ng-click="ctrl.disabledPassword = true" ng-show="!ctrl.disabledPassword" style="background-color: white; font-size: small;">
                    <md-icon md-svg-src="img/up.svg" style="color: #2980b9; width:15px;"></md-icon>
                    <span style="color: #2980b9; font-size:smaller;">Modifier</span>
                </md-button>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
            <md-button class="md-primary register-form-button" ng-disabled="accountForm.$invalid" style="background-color: #2bbe69;">
                <md-icon md-svg-src="img/check.svg" style="color: white;"></md-icon>
                <span style="color: white; font-size:large;">Sauvegarder</span>
            </md-button>
        </div>
    </form>

</div>