<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id="main-panel">
  <div id="shortcuts-panel">
	<md-list style="">
	  <md-list-item class="md-1-line">
	    <md-button class="shortcut-button" href="/#/">
	      <md-icon md-svg-src="img/dashboard.svg" style="color: #2980b9;"></md-icon>
	      <span style="color: #2980b9;">Dashboard</span>
	    </md-button>
	  </md-list-item>
	  <md-divider></md-divider>
	  <md-list-item class="md-1-line">
	    <md-button class="shortcut-button" href="/#/recentactivity">
	      <md-icon md-svg-src="img/recentactivity.svg" style="color: #2980b9;"></md-icon>
	      <span style="color: #2980b9;">Activités récentes</span>
	    </md-button>
	  </md-list-item>
	  <md-divider></md-divider>
	  <md-list-item class="md-1-line">
	    <md-button class="shortcut-button" href="/#/allbills">
	      <md-icon md-svg-src="img/money.svg" style="color: #2980b9;"></md-icon>
	      <span style="color: #2980b9;">Vos transactions</span>
	    </md-button>
	  </md-list-item>
	  <md-divider></md-divider>
	  <md-list-item class="md-1-line">
	    <md-button class="shortcut-button" ng-disabled="true" style="background-color: #ecf0f1;">
	      <md-icon md-svg-src="img/network.svg" style="color: #2980b9;"></md-icon>
	      <span style="color: #2980b9;">Vos groupes</span>
	    </md-button>
	  </md-list-item>
	  <md-divider></md-divider>
	  <md-list-item class="md-1-line">
	    <md-button class="shortcut-button" href="/#/allfriends">
	      <md-icon md-svg-src="img/friends.svg" style="color: #2980b9;"></md-icon>
	      <span style="color: #2980b9;">Vos amis</span>
	    </md-button>
	  </md-list-item>
    </md-list>
  </div>
  <div id="contents-panel" ng-controller="userController" ng-init="getGroupsByUserId('POUR_TESTER_METTRE_ID_EN_DUR')">
    <div layout="row" layout-align="center center">
	    <h2 style="color: #2980b9;">Vos groupes</h2>
    </div>
    <md-list style="width: 100%;">
      <md-list-item ng-repeat="group in groups" class="md-1-line" style="background-color: white;" ng-click="goToGroup({{group._id}})">
		<h4>Nom : {{group.name}} id : {{group._id}}</h4>
	  </md-list-item>
      <md-divider></md-divider>
    </md-list>

  </div>
</div>