<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id="main-panel">
    <div shortcuts id="shortcuts-panel"></div>

    <div id="contents-panel">
        <div layout="row" layout-align="center center">
            <h2 style="color: #2980b9;">Vos activités récentes</h2>
        </div>
        
        <md-content md-theme="docs-dark" layout-gt-sm="row" style="width: 100%; height: auto;">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Vous cherchez une activité ?</label>
                <input id="search-activity" ng-model="queryActivity"/>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            	<label>Trier par :</label>
            	<md-select ng-model="orderByAttribute">
            	  <md-option value="updated" selected>
		             Date
		          </md-option>
		          <md-option value="name">
		             Nom
		          </md-option>
		          <md-option value="value">
		             Montant
		          </md-option>
		        </md-select>
		    </md-input-container>
        </md-content>
        
        <md-list style="width: 100%;">
            <md-list-item class="md-3-line"  ng-repeat="activity in activities | filter : queryActivity | orderBy: orderByAttribute" style="background-color: white;">
                <div class="md-list-item-text" layout="column">
                    <h3 style="font-weight: bold">{{activity.name}}</h3>
                    <i>Le {{activity.updated| date:'dd-MM-yyyy à HH:mm:ss'}}</i>
                    <p>{{activity.type}}</p>
                </div>
                <div class="md-2-line md-list-item-text" layout="column" style="margin-left: 5px;">
                    <p style="color: #409ad5;">Montant :</p>
                    <h4>{{activity.value}} {{activity.currency}}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>