<md-list>
    <md-list-item class="md-1-line">
        <md-button class="shortcut-button" href="/#/">
            <md-icon md-svg-src="img/dashboard.svg" style="color: #2980b9;"></md-icon>
            <span style="color: #2980b9;">Dashboard</span>
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-1-line">
        <md-button class="shortcut-button" href="/#/activity">
            <md-icon md-svg-src="img/recentactivity.svg" style="color: #2980b9;"></md-icon>
            <span style="color: #2980b9;">Activités récentes</span>
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-1-line">
        <md-button class="shortcut-button" href="/#/bills">
            <md-icon md-svg-src="img/money.svg" style="color: #2980b9;"></md-icon>
            <span style="color: #2980b9;">Vos transactions</span>
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-1-line">
        <md-button class="shortcut-button" href="/#/groups">
            <md-icon md-svg-src="img/network.svg" style="color: #2980b9;"></md-icon>
            <span style="color: #2980b9;">Vos groupes</span>
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-1-line">
        <md-button class="shortcut-button" href="/#/friends">
            <md-icon md-svg-src="img/friends.svg" style="color: #2980b9;"></md-icon>
            <span style="color: #2980b9;">Vos amis</span>
        </md-button>
    </md-list-item>
</md-list>